In [1]:
import pandas as pd
df=pd.read_csv('directory.csv' , sep=",")

In [2]:
df

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25595,Starbucks,21401-212072,Rex,Licensed,"141 Nguyễn Huệ, Quận 1, Góc đường Pasteur và L...",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3824 4668,GMT+000000 Asia/Saigon,106.70,10.78
25596,Starbucks,24010-226985,Panorama,Licensed,"SN-44, Tòa Nhà Panorama, 208 Trần Văn Trà, Quận 7",Thành Phố Hồ Chí Minh,SG,VN,70000,08 5413 8292,GMT+000000 Asia/Saigon,106.71,10.72
25597,Starbucks,47608-253804,Rosebank Mall,Licensed,"Cnr Tyrwhitt and Cradock Avenue, Rosebank",Johannesburg,GT,ZA,2194,27873500159,GMT+000000 Africa/Johannesburg,28.04,-26.15
25598,Starbucks,47640-253809,Menlyn Maine,Licensed,"Shop 61B, Central Square, Cnr Aramist & Coroba...",Menlyn,GT,ZA,181,NaN,GMT+000000 Africa/Johannesburg,28.28,-25.79
25599,Starbucks,47609-253286,Mall of Africa,Licensed,"Shop 2077, Upper Level, Waterfall City",Midrand,GT,ZA,1682,27873500215,GMT+000000 Africa/Johannesburg,28.11,-26.02

In [3]:
df.dtypes

Brand              object
Store Number       object
Store Name         object
Ownership Type     object
Street Address     object
City               object
State/Province     object
Country            object
Postcode           object
Phone Number       object
Timezone           object
Longitude         float64
Latitude          float64
dtype: object

In [4]:
df['Country'].unique()

array(['AD', 'AE', 'AR', 'AT', 'AU', 'AW', 'AZ', 'BE', 'BG', 'BH', 'BN',
       'BO', 'BR', 'BS', 'CA', 'CH', 'CL', 'CN', 'CO', 'CR', 'CW', 'CY',
       'CZ', 'DE', 'DK', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'GT', 'HU',
       'ID', 'IE', 'IN', 'JO', 'JP', 'KH', 'KR', 'KW', 'KZ', 'LB', 'LU',
       'MA', 'MC', 'MX', 'MY', 'NL', 'NO', 'NZ', 'OM', 'PA', 'PE', 'PH',
       'PL', 'PR', 'PT', 'QA', 'RO', 'RU', 'SA', 'SE', 'SG', 'SK', 'SV',
       'TH', 'TR', 'TT', 'TW', 'US', 'VN', 'ZA'], dtype=object)

In [5]:
mask=df["Country"]=="US"
dfusa=df.loc[mask, :]

In [6]:
dfusa

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
11964,Starbucks,3513-125945,Safeway-Anchorage #1809,Licensed,5600 Debarr Rd Ste 9,Anchorage,AK,US,995042300,907-339-0900,GMT-09:00 America/Anchorage,-149.78,61.21
11965,Starbucks,74352-84449,Safeway-Anchorage #2628,Licensed,1725 Abbott Rd,Anchorage,AK,US,995073444,907-339-2800,GMT-09:00 America/Anchorage,-149.84,61.14
11966,Starbucks,12449-152385,Safeway - Anchorage #1813,Licensed,1501 Huffman Rd,Anchorage,AK,US,995153596,907-339-1300,GMT-09:00 America/Anchorage,-149.85,61.11
11967,Starbucks,24936-233524,100th & C St - Anchorage,Company Owned,"320 W. 100th Ave, 100, Southgate Shopping Ctr ...",Anchorage,AK,US,99515,(907) 227-9631,GMT-09:00 America/Anchorage,-149.89,61.13
11968,Starbucks,8973-85630,Old Seward & Diamond,Company Owned,1005 E Dimond Blvd,Anchorage,AK,US,995152050,907-344-4160,GMT-09:00 America/Anchorage,-149.86,61.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25567,Starbucks,74385-87621,Safeway-Laramie #2466,Licensed,554 N 3rd St,Laramie,WY,US,820723012,307-721-5107,GMT-07:00 America/Denver,-105.59,41.32
25568,Starbucks,73320-24375,Ridley's - Laramie #1131,Licensed,3112 E. Grand,Laramie,WY,US,820705141,307-742-8146,GMT-07:00 America/Denver,-105.56,41.31
25569,Starbucks,22425-219024,Laramie - Grand & 30th,Company Owned,3021 Grand Ave,Laramie,WY,US,82070,307-742-3262,GMT-07:00 America/Denver,-105.56,41.31
25570,Starbucks,10849-103163,I-80 & Dewar Dr-Rock Springs,Company Owned,118 Westland Way,Rock Springs,WY,US,829015751,307-362-7145,GMT-07:00 America/Denver,-109.25,41.58
25571,Starbucks,10769-102454,Coffeen & Brundage Lane-Sheridan,Company Owned,2208 Coffeen Ave,Sheridian,WY,US,828016213,307-672-5129,GMT-07:00 America/Denver,-106.94,44.77

In [7]:
dfusa['City1'] = dfusa['City'].apply(lambda x: x.title())

C:\Users\prige\AppData\Local\Temp\ipykernel_11772\3578388410.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfusa['City1'] = dfusa['City'].apply(lambda x: x.title())

In [8]:
dfusa

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude,City1
11964,Starbucks,3513-125945,Safeway-Anchorage #1809,Licensed,5600 Debarr Rd Ste 9,Anchorage,AK,US,995042300,907-339-0900,GMT-09:00 America/Anchorage,-149.78,61.21,Anchorage
11965,Starbucks,74352-84449,Safeway-Anchorage #2628,Licensed,1725 Abbott Rd,Anchorage,AK,US,995073444,907-339-2800,GMT-09:00 America/Anchorage,-149.84,61.14,Anchorage
11966,Starbucks,12449-152385,Safeway - Anchorage #1813,Licensed,1501 Huffman Rd,Anchorage,AK,US,995153596,907-339-1300,GMT-09:00 America/Anchorage,-149.85,61.11,Anchorage
11967,Starbucks,24936-233524,100th & C St - Anchorage,Company Owned,"320 W. 100th Ave, 100, Southgate Shopping Ctr ...",Anchorage,AK,US,99515,(907) 227-9631,GMT-09:00 America/Anchorage,-149.89,61.13,Anchorage
11968,Starbucks,8973-85630,Old Seward & Diamond,Company Owned,1005 E Dimond Blvd,Anchorage,AK,US,995152050,907-344-4160,GMT-09:00 America/Anchorage,-149.86,61.14,Anchorage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25567,Starbucks,74385-87621,Safeway-Laramie #2466,Licensed,554 N 3rd St,Laramie,WY,US,820723012,307-721-5107,GMT-07:00 America/Denver,-105.59,41.32,Laramie
25568,Starbucks,73320-24375,Ridley's - Laramie #1131,Licensed,3112 E. Grand,Laramie,WY,US,820705141,307-742-8146,GMT-07:00 America/Denver,-105.56,41.31,Laramie
25569,Starbucks,22425-219024,Laramie - Grand & 30th,Company Owned,3021 Grand Ave,Laramie,WY,US,82070,307-742-3262,GMT-07:00 America/Denver,-105.56,41.31,Laramie
25570,Starbucks,10849-103163,I-80 & Dewar Dr-Rock Springs,Company Owned,118 Westland Way,Rock Springs,WY,US,829015751,307-362-7145,GMT-07:00 America/Denver,-109.25,41.58,Rock Springs
25571,Starbucks,10769-102454,Coffeen & Brundage Lane-Sheridan,Company Owned,2208 Coffeen Ave,Sheridian,WY,US,828016213,307-672-5129,GMT-07:00 America/Denver,-106.94,44.77,Sheridian

In [9]:
dfusa["City_Clean"] = dfusa['City1'].astype(str) +","+" " + dfusa["State/Province"]

C:\Users\prige\AppData\Local\Temp\ipykernel_11772\3132408545.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfusa["City_Clean"] = dfusa['City1'].astype(str) +","+" " + dfusa["State/Province"]

In [10]:
dfusa

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude,City1,City_Clean
11964,Starbucks,3513-125945,Safeway-Anchorage #1809,Licensed,5600 Debarr Rd Ste 9,Anchorage,AK,US,995042300,907-339-0900,GMT-09:00 America/Anchorage,-149.78,61.21,Anchorage,"Anchorage, AK"
11965,Starbucks,74352-84449,Safeway-Anchorage #2628,Licensed,1725 Abbott Rd,Anchorage,AK,US,995073444,907-339-2800,GMT-09:00 America/Anchorage,-149.84,61.14,Anchorage,"Anchorage, AK"
11966,Starbucks,12449-152385,Safeway - Anchorage #1813,Licensed,1501 Huffman Rd,Anchorage,AK,US,995153596,907-339-1300,GMT-09:00 America/Anchorage,-149.85,61.11,Anchorage,"Anchorage, AK"
11967,Starbucks,24936-233524,100th & C St - Anchorage,Company Owned,"320 W. 100th Ave, 100, Southgate Shopping Ctr ...",Anchorage,AK,US,99515,(907) 227-9631,GMT-09:00 America/Anchorage,-149.89,61.13,Anchorage,"Anchorage, AK"
11968,Starbucks,8973-85630,Old Seward & Diamond,Company Owned,1005 E Dimond Blvd,Anchorage,AK,US,995152050,907-344-4160,GMT-09:00 America/Anchorage,-149.86,61.14,Anchorage,"Anchorage, AK"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25567,Starbucks,74385-87621,Safeway-Laramie #2466,Licensed,554 N 3rd St,Laramie,WY,US,820723012,307-721-5107,GMT-07:00 America/Denver,-105.59,41.32,Laramie,"Laramie, WY"
25568,Starbucks,73320-24375,Ridley's - Laramie #1131,Licensed,3112 E. Grand,Laramie,WY,US,820705141,307-742-8146,GMT-07:00 America/Denver,-105.56,41.31,Laramie,"Laramie, WY"
25569,Starbucks,22425-219024,Laramie - Grand & 30th,Company Owned,3021 Grand Ave,Laramie,WY,US,82070,307-742-3262,GMT-07:00 America/Denver,-105.56,41.31,Laramie,"Laramie, WY"
25570,Starbucks,10849-103163,I-80 & Dewar Dr-Rock Springs,Company Owned,118 Westland Way,Rock Springs,WY,US,829015751,307-362-7145,GMT-07:00 America/Denver,-109.25,41.58,Rock Springs,"Rock Springs, WY"
25571,Starbucks,10769-102454,Coffeen & Brundage Lane-Sheridan,Company Owned,2208 Coffeen Ave,Sheridian,WY,US,828016213,307-672-5129,GMT-07:00 America/Denver,-106.94,44.77,Sheridian,"Sheridian, WY"

In [11]:
dfusa.drop(['City1'], axis=1, inplace=True)

C:\Users\prige\AppData\Local\Temp\ipykernel_11772\1318813438.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfusa.drop(['City1'], axis=1, inplace=True)

In [12]:
dfusa.drop(['City'], axis=1, inplace=True)

C:\Users\prige\AppData\Local\Temp\ipykernel_11772\3141605206.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfusa.drop(['City'], axis=1, inplace=True)

In [13]:
dfusa['City'] = dfusa['City_Clean']

C:\Users\prige\AppData\Local\Temp\ipykernel_11772\1182677773.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfusa['City'] = dfusa['City_Clean']

In [14]:
dfusa.drop(['State/Province'], axis=1, inplace=True)

C:\Users\prige\AppData\Local\Temp\ipykernel_11772\738845297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfusa.drop(['State/Province'], axis=1, inplace=True)

In [15]:
dfusa

,Brand,Store Number,Store Name,Ownership Type,Street Address,Country,Postcode,Phone Number,Timezone,Longitude,Latitude,City_Clean,City
11964,Starbucks,3513-125945,Safeway-Anchorage #1809,Licensed,5600 Debarr Rd Ste 9,US,995042300,907-339-0900,GMT-09:00 America/Anchorage,-149.78,61.21,"Anchorage, AK","Anchorage, AK"
11965,Starbucks,74352-84449,Safeway-Anchorage #2628,Licensed,1725 Abbott Rd,US,995073444,907-339-2800,GMT-09:00 America/Anchorage,-149.84,61.14,"Anchorage, AK","Anchorage, AK"
11966,Starbucks,12449-152385,Safeway - Anchorage #1813,Licensed,1501 Huffman Rd,US,995153596,907-339-1300,GMT-09:00 America/Anchorage,-149.85,61.11,"Anchorage, AK","Anchorage, AK"
11967,Starbucks,24936-233524,100th & C St - Anchorage,Company Owned,"320 W. 100th Ave, 100, Southgate Shopping Ctr ...",US,99515,(907) 227-9631,GMT-09:00 America/Anchorage,-149.89,61.13,"Anchorage, AK","Anchorage, AK"
11968,Starbucks,8973-85630,Old Seward & Diamond,Company Owned,1005 E Dimond Blvd,US,995152050,907-344-4160,GMT-09:00 America/Anchorage,-149.86,61.14,"Anchorage, AK","Anchorage, AK"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25567,Starbucks,74385-87621,Safeway-Laramie #2466,Licensed,554 N 3rd St,US,820723012,307-721-5107,GMT-07:00 America/Denver,-105.59,41.32,"Laramie, WY","Laramie, WY"
25568,Starbucks,73320-24375,Ridley's - Laramie #1131,Licensed,3112 E. Grand,US,820705141,307-742-8146,GMT-07:00 America/Denver,-105.56,41.31,"Laramie, WY","Laramie, WY"
25569,Starbucks,22425-219024,Laramie - Grand & 30th,Company Owned,3021 Grand Ave,US,82070,307-742-3262,GMT-07:00 America/Denver,-105.56,41.31,"Laramie, WY","Laramie, WY"
25570,Starbucks,10849-103163,I-80 & Dewar Dr-Rock Springs,Company Owned,118 Westland Way,US,829015751,307-362-7145,GMT-07:00 America/Denver,-109.25,41.58,"Rock Springs, WY","Rock Springs, WY"
25571,Starbucks,10769-102454,Coffeen & Brundage Lane-Sheridan,Company Owned,2208 Coffeen Ave,US,828016213,307-672-5129,GMT-07:00 America/Denver,-106.94,44.77,"Sheridian, WY","Sheridian, WY"

In [16]:
result = dfusa.groupby("City_Clean")["Store Number"].count().sort_values(ascending=False)
print(result)

City_Clean
New York, NY      232
Chicago, IL       182
Las Vegas, NV     157
Seattle, WA       156
Houston, TX       154
                 ...
Kona, HI            1
Kuna, ID            1
Kutztown, PA        1
La Grange, GA       1
Zionsville, IN      1
Name: Store Number, Length: 3610, dtype: int64

In [17]:
dfusastores = dfusa.groupby("City_Clean").agg(
    Count=("City", "count"),
    City=("City","first"),
    Country=("Country","first"),
    Longitude=("Longitude","first"),
    Latitude=("Latitude","first")
    

)

In [18]:
dfusastores

                 Count             City Country  Longitude  Latitude
City_Clean
Aberdeen, NC         1     Aberdeen, NC      US     -79.42     35.16
Aberdeen, SD         2     Aberdeen, SD      US     -98.44     45.46
Aberdeen, WA         2     Aberdeen, WA      US    -123.80     46.98
Abilene, TX          6      Abilene, TX      US     -99.76     32.40
Abingdon, MD         2     Abingdon, MD      US     -76.32     39.46
...                ...              ...     ...        ...       ...
Yuma, AZ             8         Yuma, AZ      US    -114.61     32.70
Zanesville, OH       2   Zanesville, OH      US     -82.02     39.98
Zeeland, MI          1      Zeeland, MI      US     -86.02     42.83
Zephyr Cove, NV      1  Zephyr Cove, NV      US    -119.94     38.99
Zionsville, IN       1   Zionsville, IN      US     -86.28     39.95

[3610 rows x 5 columns]

In [19]:
new = dfusastores["City"].str.split(",", n = 1, expand = True)
dfusastores["City"]= new[0]
dfusastores["Country"]= new[1]

In [20]:
new

                           0    1
City_Clean
Aberdeen, NC        Aberdeen   NC
Aberdeen, SD        Aberdeen   SD
Aberdeen, WA        Aberdeen   WA
Abilene, TX          Abilene   TX
Abingdon, MD        Abingdon   MD
...                      ...  ...
Yuma, AZ                Yuma   AZ
Zanesville, OH    Zanesville   OH
Zeeland, MI          Zeeland   MI
Zephyr Cove, NV  Zephyr Cove   NV
Zionsville, IN    Zionsville   IN

[3610 rows x 2 columns]

In [21]:
dfusastores['City'] = dfusastores['City'].str.split(',').str[-2]

In [22]:
dfusastores

                 Count  City Country  Longitude  Latitude
City_Clean
Aberdeen, NC         1   NaN      NC     -79.42     35.16
Aberdeen, SD         2   NaN      SD     -98.44     45.46
Aberdeen, WA         2   NaN      WA    -123.80     46.98
Abilene, TX          6   NaN      TX     -99.76     32.40
Abingdon, MD         2   NaN      MD     -76.32     39.46
...                ...   ...     ...        ...       ...
Yuma, AZ             8   NaN      AZ    -114.61     32.70
Zanesville, OH       2   NaN      OH     -82.02     39.98
Zeeland, MI          1   NaN      MI     -86.02     42.83
Zephyr Cove, NV      1   NaN      NV    -119.94     38.99
Zionsville, IN       1   NaN      IN     -86.28     39.95

[3610 rows x 5 columns]

In [23]:
merged_df = pd.merge(dfusastores, new, on='City_Clean')

In [24]:
merged_df

                 Count  City Country  Longitude  Latitude            0    1
City_Clean
Aberdeen, NC         1   NaN      NC     -79.42     35.16     Aberdeen   NC
Aberdeen, SD         2   NaN      SD     -98.44     45.46     Aberdeen   SD
Aberdeen, WA         2   NaN      WA    -123.80     46.98     Aberdeen   WA
Abilene, TX          6   NaN      TX     -99.76     32.40      Abilene   TX
Abingdon, MD         2   NaN      MD     -76.32     39.46     Abingdon   MD
...                ...   ...     ...        ...       ...          ...  ...
Yuma, AZ             8   NaN      AZ    -114.61     32.70         Yuma   AZ
Zanesville, OH       2   NaN      OH     -82.02     39.98   Zanesville   OH
Zeeland, MI          1   NaN      MI     -86.02     42.83      Zeeland   MI
Zephyr Cove, NV      1   NaN      NV    -119.94     38.99  Zephyr Cove   NV
Zionsville, IN       1   NaN      IN     -86.28     39.95   Zionsville   IN

[3610 rows x 7 columns]

In [25]:
merged_df.drop(['City'], axis=1, inplace=True)

In [26]:
merged_df.drop(['Country'], axis=1, inplace=True)

In [ ]:
merged_df['City'] = merged_df[0]

In [ ]:
merged_df['State/Province'] = merged_df[1]

In [ ]:
merged_df.drop([0], axis=1, inplace=True)

In [ ]:
merged_df.drop([1], axis=1, inplace=True)

In [ ]:
merged_df

                 Count  Longitude  Latitude         City State/Province
City_Clean
Aberdeen, NC         1     -79.42     35.16     Aberdeen             NC
Aberdeen, SD         2     -98.44     45.46     Aberdeen             SD
Aberdeen, WA         2    -123.80     46.98     Aberdeen             WA
Abilene, TX          6     -99.76     32.40      Abilene             TX
Abingdon, MD         2     -76.32     39.46     Abingdon             MD
...                ...        ...       ...          ...            ...
Yuma, AZ             8    -114.61     32.70         Yuma             AZ
Zanesville, OH       2     -82.02     39.98   Zanesville             OH
Zeeland, MI          1     -86.02     42.83      Zeeland             MI
Zephyr Cove, NV      1    -119.94     38.99  Zephyr Cove             NV
Zionsville, IN       1     -86.28     39.95   Zionsville             IN

[3610 rows x 5 columns]

In [ ]:
new_order = ['Count', 'City', 'State/Province', 'Longitude', 'Latitude']

df = merged_df.reindex(columns=new_order)

In [ ]:
df

                 Count         City State/Province  Longitude  Latitude
City_Clean
Aberdeen, NC         1     Aberdeen             NC     -79.42     35.16
Aberdeen, SD         2     Aberdeen             SD     -98.44     45.46
Aberdeen, WA         2     Aberdeen             WA    -123.80     46.98
Abilene, TX          6      Abilene             TX     -99.76     32.40
Abingdon, MD         2     Abingdon             MD     -76.32     39.46
...                ...          ...            ...        ...       ...
Yuma, AZ             8         Yuma             AZ    -114.61     32.70
Zanesville, OH       2   Zanesville             OH     -82.02     39.98
Zeeland, MI          1      Zeeland             MI     -86.02     42.83
Zephyr Cove, NV      1  Zephyr Cove             NV    -119.94     38.99
Zionsville, IN       1   Zionsville             IN     -86.28     39.95

[3610 rows x 5 columns]

In [ ]:
df.to_csv("count_usa_store.csv", index=False)